<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My translations</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="#" th:href="@{/translate}">Translate</a></li>
                  <li><a href="#" th:href="@{/savedtranslation}">Saved Translations</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="content">
<div class="container">
<form th:action="@{|/edittranslate/${translated.id}|}" method="post">
<input type="hidden" th:value="${translated.id}" name="id"/>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Translate a word</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <select class="form-control" name="from" id="from">
                        <option value="en" th:attrappend="selected=${translated.from=='en'}">English</option>
                        <option value="ro" th:attrappend="selected=${translated.from=='ro'}">Romanian</option>
                        <option value="it" th:attrappend="selected=${translated.from=='it'}">Italian</option>
                        <option value="fr" th:attrappend="selected=${translated.from=='fr'}">French</option>
                    </select>
                </div>

                <div class="pull-right col-md-5">
                    <select class="form-control" name="to" id="to">
                        <option value="en" th:attrappend="selected=${translated.to=='en'}">English</option>
                        <option value="ro" th:attrappend="selected=${translated.to=='ro'}">Romanian</option>
                        <option value="it" th:attrappend="selected=${translated.to=='it'}">Italian</option>
                        <option value="fr" th:attrappend="selected=${translated.to=='fr'}">French</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <label for="inputText">Input text:</label>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <label for="translatedText">Translated:</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <textarea class="form-control" rows="5" id="text" name="text" th:text="${translated.text}"></textarea>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-primary">Translate</button>
                    <button type="submit" class="btn btn-block btn-success" th:formaction="@{|/edit/${translated.id}|}">Save</button>
                </div>
                <div class="col-md-5">
                    <textarea class="form-control" rows="5" id="translationText" name="translationText" th:text="${translated.translationText}"></textarea>
                </div>
            </div>

        </div>
    </div>
</form>
</div>
</th:block>
</body>
</html>